.merchant-panel-info-card {
    display: flex;
    padding: 40px 24px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: var(--surface-primary, #fff);
    &.total-item-sold {
      border-left: 4px solid var(--action-success);
    }
    &.current-balance {
      border-left: 4px solid var(--action-warning);
    }
    &.total-earning {
      border-left: 4px solid var(--action-primary);
    }
    &.pending-commision {
      border-left: 4px solid var(--action-info);
    }
    &.total-purchase {
      border-left: 4px solid var(--action-danger);
    }
    &.purchase-delivered {
      border-left: 4px solid var(--action-success);
    }
    &.purchase-processing {
      border-left: 4px solid var(--action-info);
    }
    &.purchase-pending {
      border-left: 4px solid var(--action-warning);
    }
    @include screen-1920 {
      flex-direction: column;
      align-items: center;
    }
    @include screen-1200 {
      flex-direction: row;
      align-items: flex-start;
    }
    @include screen-768 {
      flex-direction: column;
      align-items: center;
    }
    @include screen-576 {
      flex-direction: row;
      align-items: flex-start;
    }

    .name-and-value-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 4px;
      @include screen-1920 {
        flex-direction: column-reverse;
        align-items: center;
      }
      @include screen-1200 {
        flex-direction: column;
        align-items: flex-start;
      }
      @include screen-768 {
        flex-direction: column-reverse;
        align-items: center;
      }
      @include screen-576 {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    .name {
      color: $text-color-700;
      line-height: 160%;
      font-size: 20px;
      @include screen-1600 {
        font-size: 18px;
      }
      @include screen-768 {
        font-size: 16px;
      }
      @include screen-576 {
        font-size: 14px;
      }
    }
    .value {
      color: $text-color-950;
    }
    img {
      width: 80px;
      height: 80px;
      object-fit: cover;
    }
  }
